/* Reset CSS */
html{font:62.5% Arial, Helvetica,sans-serif;}
body{margin:0;font-size:100%;}
* html body{font-size:101%;}
*:first-child+html body{font-size:101%;}

h1,h2,h3,h4,h5,h6,p,pre,blockquote{margin:0;font-size:1em;}
ul,ol,dl,dt,dd{padding:0;margin:0;}
ul,ol{list-style:none;}
address,cite{font-style:normal;}
img{border:none;-ms-interpolation-mode:bicubic;}

article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block;}

td,th{vertical-align:top;}
caption,th{text-align:left;}

form{margin:0;}
fieldset{margin:0;padding:0;border:none;}
legend{margin:0;padding:0;color:#000;}
input,textarea,select{font:1em Arial,Helvetica,sans-serif;}
textarea{overflow:auto;}
input[type="text"]{margin:0;}

.estirar:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.estirar{display:inline-block;}
/*\*/
.estirar{display:block;}
* html .estirar{height:1px;}
/**/
.izq,.col-i{float:left;display:inline;}
.drcha,.col-d{float:right;display:inline;}
.table{display:table;height:1%;}


/* variables */
@sans_serif: 'Lucida grande', 'Lucida sans unicode', arial, helvetica, sans-serif;
@serif:      'Georgia', 'Times new roman', serif;
@max:    #c33;
@min:    #093;
@precip: #09c;


/* Mixins */
.no_underline {
    text-decoration:none;
    :hover { text-decoration:underline; }
}
.hide_text {
    overflow:hidden;
    text-indent:-999px;
}
.clear_floats {
    overflow:hidden;
    height:1%;
}
.t {
    font-size:1.1em;
    text-transform:uppercase;
    font-weight:normal;
    color:#fff;
    background:#09c;
    padding:.3em .6em;
}

/* Básicos */
body {
    font-family: @sans_serif;
    background:#bcf;
    width:95.1em;
    margin:1em auto 2em;
}

a {
    color:#069;
}

.el_adivino {
    position:absolute;
    left:-70px;
    top:-95px;
    z-index:10;
}

#container {
    position:relative;
}

.lnk {
    font-size:1.2em;
    margin-top:.5em;
    text-align:right;
}

/* Head */
#head {
    .clear_floats;
    padding:5.5em 0 1.5em 14em;
    background:url(../images/bg_head.png) no-repeat 0 bottom;
    #logo-area {
        float:left;
        margin-top:1em;
    }
    h1 {
        font-size:4em;
        letter-spacing:-0.05em;
        color:;
        line-height:1;
    }
    p.tagline {
        font-size:1.2em;
    }
        
    #search {
        float:right;
        background:rgba(255, 255, 255, 0.3);
        padding:1.5em;
        .clear_floats;
        
        label {
            font-size:1.1em;
            margin:0 0 .5em;
            color:#2c2c2c;
            display:block;
        }
        input.text {
            vertical-align:top;
            border:1px solid #bbb;
            font-size:1.4em;
            color:#666;
            padding:.3em;
            width:20em;
        }
        input.submit {
            vertical-align:top;
            color:#fff;
            background:#09c;
            border:0;
            font-size:1.2em;
            font-weight:bold;
            text-transform:uppercase;
            padding:5px 1em;
        }
        
        
    }
    
}



/* Layout */

#container {
    background:#fff;
    padding:0 1.5em 1.5em;
}







/* Home */

#home_top {
    .clear_floats;
    margin:0 -1.5em;
    
    background:#eee;
    
    .prediccion {
        padding:.6em 5.5em .6em .6em;
        float:left;
        font-size:2.4em;
        position:relative;
        width:18em;
        strong {
            font-size:3em;
            line-height:1;
            font-weight:normal;
            position:absolute;
            right:10px;
            top:5px;
            color:#09c;
        }
    }
    .aemet {
        float:left; display:inline;
        width:15em;
        font-size:1.5em;
        color:#666;
        font-style:italic;
        margin:1.5em 0 0 1em;
        
    }
}


#home_middle {
    margin-top:1.5em;
    .clear_floats;
    
    h2 {
        .t;
    }
    
    
    .top5 {
        float:left;
        width:40em;
        


        table {
            width:100%;
            th {
                color:#fff;
                background:#212121;
                font:1.1em Arial, Helvetica, sans-serif;
                text-transform:uppercase;
                padding:.3em .6em;
                font-weight:normal;
            }
            abbr { border:0; }
            td {
                padding:.4em;
                font-size:1.2em;
                color:#2c2c2c;
                border-bottom:1px solid #ddd;
            }
            .porcentaje {
                width:4em;
            }
        }
        table.max .porcentaje {
            color:#093;
        }
        table.min .porcentaje {
            color:#c33;
        }
        
        
    }

    .stats {
        float:right;
        width:50em;
        
        #graph_placeholder {
            margin-top:1em;
            width:100%;
            height:29em;
        }
    }
}
#tooltip {
    width:10em;
    position:absolute;
    background:#fff;
    -webkit-border-radius:10px;
       -moz-border-radius:10px;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);
       -moz-box-shadow:0 0 10px rgba(0,0,0,0.5);
    left:0;
    top:0;
    padding:.8em 1em;
    font-size:1.1em;
    
    h3 {
        font-size:1.1em;
        margin-bottom:.5em;
    }
    dl {
        .clear_floats;
    }
    dt {
        float:left;
        clear:left;
        text-align:right;
        width:5em;
        margin-right:.5em;
        font-weight:bold;
    }
    dt.max    { color:@max; }
    dt.min    { color:@min; }
    dt.precip { color:@precip; }
    dd {
        float:left;
    }
}

/* Lista de ciudades */
#cities {
    .cab {
        margin:0 -1.5em;
        background:#eee;
        padding:1.5em;
        margin-bottom:1.5em;
        h2 {
            font-size:2.2em;
            font-weight:normal;
        }
    }
    
    .cities {
        .clear_floats;
        
        li {
            margin-left:1.5em;
            list-style:square;
            float:left;
            width:30%;
            font-size:1.4em;
            margin-bottom:.5em;
        }
    }
}


/* Ficha de ciudad */
#city {
    
    .cab {
        margin:0 -1.5em;
        background:#eee;
        padding:1.5em;
        margin-bottom:1.5em;
        
        position:relative;
        
        p.date {
            float:left;
            margin-right:.6em;
            font-size:2.4em;
            span {
                display:block;
                text-align:center;
                font-size:.5em;
                text-transform:uppercase;
                font-weight:bold;
            }
        }
        
        h2 {
            text-align:center;
            font-size:2.2em;
            font-weight:normal;
            line-height:30px;
            strong {
                font-weight:normal;
                font-size:1.5em;
                color:#09c;
            }
            span {
                font-size:1.5em;
                letter-spacing:-0.05em;
            }
        }
        
        img {
            position:absolute;
            top:5px;
            right:31em;
        }
        
        .prevision {
            float:right;
            p {
                line-height:1;
                font-size:1.2em;
                text-align:center;
                float:left; display:inline;
                margin-left:2em;
                span { /* Valor */
                    display:block;
                    margin-top:3px;
                    
                    font-size:2.2em;
                    span { /* Unidad */
                        font-size:0.5em;
                        display:inline;
                    }
                }
            }
            .max span    { color:@max; }
            .min span    { color:@min; }
            .precip span { color:@precip; }

        }        
    }
    
    .city_middle {
        
        .porcentaje {
            width:50em;
            h3 { .t; }
            p {
                margin-top:.5em;
                font-size:1.2em;
                strong {
                    text-align:center;
                    line-height:1;
                    display:block;
                    color:#09c;
                    font-size:8em;
                    font-weight:normal;
                }
            }
        }
    }
    
}
