<div id="home_top">
  <% percentage = 79 %>
  
  <p class="prediccion">El cielo caerá sobre nuestras cabezas con una probabilidad del <strong><%= percentage %>%</strong></p>
  
  <p class="aemet">
  <%
  aemet = case percentage
    when 90..100 then "AEMET está sembrada hoy"
    when 60..90 then "AEMET no lo hace mal del todo, pero podría mejorar"
    when 40..60 then "AEMET debería dedicarse a otra cosa"
    else "No se como AEMET se atreve a cobrar por los datos de hoy"
  end
  -%>
  <%= aemet %>
  </p>
</div>


<div id="home_middle">
  
  <div class="top5">
    <h2>Las que mas aciertan...</h2>
    <table class="max" cellspacing="0" cellpadding="0" class="max">
      <thead>
        <tr>
          <th>Provincia</th>
          <th><abbr title="Porcentaje de acierto de AEMET">%</abbr></th>
        </tr>
      </thead>
      <tbody>
        <% 5.times do %>
        <tr>
          <td>Asturias</td>
          <td class="porcentaje">85%</td>
        </tr>
        <% end -%>
      </tbody>
    </table>
    
    <h2>...y las que menos</h2>
    <table class="min" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>Provincia</th>
          <th><abbr title="Porcentaje de acierto de AEMET">%</abbr></th>
        </tr>
      </thead>
      <tbody>
        <% 5.times do %>
        <tr>
          <td>Almería</td>
          <td class="porcentaje">55%</td>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
  
  <div class="stats">
    <h2>¿Qué tal ha ido AEMET en los ultimos 15 días?</h2>
    <div id="graph_placeholder">
    </div>
  </div>
</div>


<% content_for :js do %>
  <!--[if IE]>
  <%= javascript_include_tag 'flot/excanvas.min' %>
  <![endif]-->
  
  <%= javascript_include_tag 'flot/jquery.flot.min' %>
  
  
  <script type="text/javascript" charset="utf-8">
    (function() {
      
      function go_back(date,days) {
        today = date.getDate();
        date.setDate( today - days );
        return date;
      }
      
      
      var tooltips = [];      
      var data = [];
      var ticks = [];
      var tooltip_tpl = '<h3>Aciertos de...</h3><dl><dt class="max">T. max:</dt><dd>{tmax} %</dd><dt class="min">T. min:</dt><dd>{tmin} %</dd><dt class="precip">Precip.:</dt><dd>{precipitaciones} %</dd></dl>';
      
      
      for (var i = 0; i<15; i++) {
        // Data
        data.push([i, 50 + (Math.random() * 50)]);
        
        // Máximas, minimas, precipitaciones
        tooltips.push({
          'tmax': 50 + (Math.random() * 50),
          'tmin': 50 + (Math.random() * 50),
          'precipitaciones': 50 + (Math.random() * 50)
        });
        
        // Etiquetas de los días
        var d = new Date;
        var back = go_back(d, (14-i));
        ticks.push([i, '' + back.getDate() + '/' + (back.getMonth()+1)]);
      }
      
      
      var plot = $.plot($('#graph_placeholder'), [{
        label: '% aciertos',
        data: data
      }], {
        series: {
          lines: { show:true },
          points : { show: true }
        },
        grid: { hoverable: true, clickable: true },
        xaxis: {
          ticks: ticks
        }
      });
      
      $('#graph_placeholder').bind('plotclick', function(e, pos, item) {
        
        var $tooltip = document.getElementById('tooltip') ? $('#tooltip') : $('<div id="tooltip"></div>');
        
        if (item) {
          var index = item.dataIndex;
          var tooltip_data = tooltips[index];


          var parsed_tpl = tooltip_tpl.replace(/\{(\w+)\}/g, function() {
            return Math.round(tooltip_data[arguments[1]] * 100) / 100;
          });

          var css = {
            left: (item.pageX - 66) + 'px',
            top: (item.pageY - 90) + 'px',
            display: 'none'
          };


          $tooltip.html(parsed_tpl).css(css).appendTo('body').fadeIn('fast');
        }
        else {
          $tooltip.fadeOut('fast');
        }
        
        
      });
      
      
      
    })();
  </script>

<% end -%>
