<div id="head">
  <div id="logo-area">
    <h1>Prolix</h1>
    <p class="tagline">Aquí va un tagline que se nos ocurrirá después</p>
  </div>
  
  <form id="search">
    <label>Busca tu localidad</label>
    <input type="text" class="text" />
    <input type="submit" value="buscar" class="submit" />
  </form>
  
</div>